/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
html,body {
    max-width: 100vw;
    overflow-x: hidden;
} */

.ql-snow .ql-tooltip {
    /* To make the formula input show above the page contentx */
    z-index: 9999; 
}